{% extends 'base.html' %}
{% block content %}
    <div class="my-profile-main">
        <div class="my-profile container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center">
                    <img src="{{ profile.avatar.url }}" height="100" width="100" alt="avatar"/>
                    <span class="card-title mt-3">{{ profile.first_name }} {{ profile.last_name }}</span>
                    <span class="card-subtitle text-muted">{{ user.username }}</span>
                    <span class="card-subtitle text-muted">Balance: {{ profile.balance }}$</span>
                    <div class="my-profile-manipulate">
                        <a href="{% url 'edit_profile' %}" class="btn btn-outline-warning">Edit Profile</a>
                        <a href="{% url 'delete_profile' %}?id={{ user.id }}" class="btn btn-danger">Delete Profile</a>
                    </div>
                </div>
            </div>
        </div>
        My Watchlist:
        <div class="my-profile-watchlist">

            {% for car in watch_list %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body bg-white">
                        <img class="card-img-top" src="{{ car.image.url }}" alt="{{ car.model }}">
                        <h5 class="card-title">{{ car.get_name_display }} {{ car.model }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ car.price }}$</h6>
                        <div class="my-buttons">
                            <a href="#" class="card-link btn btn-success">Buy now</a>
                            <a href="{% url 'delete_from_watch_list' %}?id={{ car.id }}"
                               class="card-link btn btn-outline-success">Remove from watch list</a>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}