@using CarShop.Models.Accounts
@using CarShop.Models.Chat
@using CarShop.ViewModels
@using CarShop.Views.Chat
@model ChatViewModel
@{
    string currentUserId = (string)ViewData["CurrentUserId"];
}

<div class="container-fluid mt-5 chat-main">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group contact-list-container">
                @if (Model.ChatChannels != null && Model.ChatChannels.Count() > 0)
                {
                    AppUser otherUser;
                    foreach (var channel in Model.ChatChannels)
                    {
                        otherUser = channel.User1Id == currentUserId ? channel.User2 : channel.User1;

                        <a asp-action="Index" asp-route-activeChannelId="@channel.Id" class="list-group-item list-group-item-action @ManageActiveChatLink.MakeActive(channel.Id,Model.ActiveChannel?.Id) chat-contact">
                            <div class="d-flex align-items-center">
                                <img src="@otherUser.ImgUrl" alt="Contact 1" class="rounded-circle mr-3 contact-avatar" style="margin-right: 10px;">
                                <div>
                                    <h6 class="mb-0">@otherUser.FullName</h6>
                                    <p class="mb-0">Last message</p>
                                </div>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <p>You dont have converstaions yet</p>
                }
            </div>
        </div>

        <div class="col-md-9">
            <div class="chat-container">
                @if (Model.ActiveChannel != null)
                {
                    @await Html.PartialAsync("_ActiveChatPartial", Model.ActiveChannel)
                }
                else
                {
                    <p>Select chat to start</p>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    
}


