html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.contact-list-container,
.chat-container {
    height: 80vh; /* 100% of the viewport height */
    overflow-y: auto;
}

.chat-body {
    padding: 20px;
    flex: 1; /* Grow and shrink to take available space */
    overflow-y: auto;
}

.chat-main {
    width: 75vw;
}

.chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header,
.chat-footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    flex: 0; /* Do not grow or shrink, take content height */
}

.chat-body {
    padding: 20px;
    flex: 1; /* Grow and shrink to take available space */
    overflow-y: auto;
}

.contact-avatar {
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-container {
    max-width: 70%;
    margin: auto;
}

.message-box {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    word-wrap: break-word;
}

.receiver-message {
    background-color: #e6e6e6;
    color: #000;
    text-align: left;
}

.sender-message {
    background-color: #4caf50;
    color: #fff;
    text-align: right;
}