@using CarShop.Models.Product
@model CarModel;

<div class="modal fade" id="changeModal@(Model.Id)" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Change product info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="CarModels" asp-action="Edit" asp-route-id="@Model.Id" id="editForm@(Model.Id)" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AppUserId"/>
                    <input type="hidden" asp-for="ImgUrl"/>
                    <input type="hidden" asp-for="ImgFileName"/>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarBrandId" class="control-label"></label>
                        <select asp-for="CarBrandId" class="form-control" asp-items="ViewBag.CarBrands"></select>
                        <span asp-validation-for="CarBrandId" class="text-danger"></span>
                    </div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            <p>Image</p>
                        </dt>
                        <dd class="col-sm-10">
                            <div class="w-25 h-25">
                                <img src="@Model.ImgUrl" class="img-thumbnail">
                            </div>
                        </dd>
                    </dl>
                    <div class="form-group">
                        <label asp-for="ImgFile" class="control-label"></label>
                        <input asp-for="ImgFile" class="form-control" type="file" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input form="editForm@(Model.Id)" type="submit" class="btn btn-warning" value="Change" />
            </div>
        </div>
    </div>
</div>