@model CarShop.Models.Product.CarModel[]
@{
    Layout = "_Layout";
}




<div class="card-group">
    @foreach (var car in Model)
    {
        <partial name="_ProductCardPartial" model="@car"/>
    }
</div>